*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(233, 232, 232);
}
a{
    text-decoration: none;
    color: #fff;
}
/* making container for all pages */
.container{
    overflow: auto;
    position: absolute;
    left: 240px;
    right: 0;
    top: 55px;
    margin-right: 10px;
    padding: 30px 30px;
    background-color: aliceblue;
}

/* making grids classes for convineice */
.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6{
    display: grid;
}
.grid1{
    grid-template-columns: auto;
}
.grid2{
    grid-template-columns: auto auto;
}
.grid3{
    grid-template-columns: auto auto auto;
}
.grid4{
    grid-template-columns:  auto auto auto auto;
}
.grid5{
    grid-template-columns:  auto auto auto auto auto;
}
.grid6{
    grid-template-columns:  auto auto auto auto auto auto;
}